@media screen and (min-width: 768px) {

    body {
        margin: 0;
    }
    
    .layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    header {
/* Header 1 */
    position: absolute;
    width: auto;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 954px;
    background-color: #FF7E95;
    }
    
    main {
        flex-grow: 1;
        background-color: rgb(255, 255, 255);
    }
    
    footer {
        height: 100px;
        background-color: #FF7E95;
    }
    
    
    .logo {
/* logo */
    position: absolute;
    width: 64px;
    height: 60px;
    left: 138px;
    right: 1240px;
    top: 5px;
    bottom: 959px;  
        
    }

.social-img{
    /* icon-instagram */
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1748px;
    right: 140px;
    top: 19px;
    bottom: 973px;
}

.instagram{
    position: absolute;
    width: 32px;
    height: 32px;
}

.viber {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 50px;
    top: 1px;
}
.text-gl1{
/* Головна */
    position: absolute;
    width: 100px;
    height: 32px;
    left: 310px;
    right: 1030px;
    top: 15px;
    bottom: 973px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    }

.text-gl2{
/* Послуги та ціни */
    position: absolute;
    width: 198px;
    height: 39px;
    left: 474px;
    right: 768px;
    top: 15px;
    bottom: 966px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-gl3 {
/* Сертифікати */
    position: absolute;
    width: 168px;
    height: 36px;
    left: 736px;
    right: 536px;
    top: 15px;
    bottom: 966px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-gl4{
/* Акції */
    position: absolute;
    width: 69px;
    height: 39px;
    left: 968px;
    right: 403px;
    top: 15px;
    bottom: 963px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

    .srift{
        font-family: Alexander;
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;
    }
}

@media screen and (max-width:998px ) {

}
@media screen and (max-width:768px ) {

}
@media screen and (max-width:767px ) {

}





