@media screen and (min-width: 768px) {

    body {
        margin: 0;
    }
    
    .layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    header {
/* Header 1 */
    position: fixed;
    width: auto;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 954px;
    background-color: #FF7E95;
    }
    
    main {
        flex-grow: 1;
        background-color: rgb(255, 255, 255);
    }
    
    footer {
        height: auto;
        background-color: #FF7E95;
        text-align: center;
        position:relative;
        margin: 0px;
        bottom: 0px;


    }

/* .lin{

position: absolute;
width: 1900px;
height: 0;
left: 0px;
top: 62px;
color: #c2ff34;
}
     */
    
    .logo {
/* logo */
    position: absolute;
    width: 64px;
    height: 60px;
    left: 138px;
    right: 1240px;
    top: 5px;
    bottom: 959px;  
        
    }

    .div-logo2{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo2 {
        /* logo */
            position: absolute;
            width: 64px;
            height: 60px;  
            left: 138px;  
            bottom: 5px;
            }

.social-img{
    /* icon-instagram */
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1748px;
    right: 140px;
    top: 19px;
    bottom: 973px;
}

.social-img2{
/* icon-instagram */
position: absolute;
width: 32px;
height: 32px;
left: 1764px;
right: 124px;
top: auto;
bottom: auto;
margin-top: 35px;
    
}

.social-img3{
position: absolute;
left: 1764px;
right: 124px;
top: 20px;
margin: 0px;
bottom: 0px;
}

.instagram{
    position: absolute;
    width: 32px;
    height: 32px;
}

.viber {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 50px;
    top: 1px;
}

.instagram-footer{
    position: absolute;
    width: 32px;
    height: 32px;
}

.viber-footer {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 25px;
    top: 1px;

}

.text-footer{
    position: absolute;
    left: 55px;
    top: 50px;

}
.text-gl1{
/* Головна */
    position: absolute;
    width: 100px;
    height: 32px;
    left: 310px;
    right: 1030px;
    top: 15px;
    bottom: 973px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    }

.text-gl2{
/* Послуги та ціни */
    position: absolute;
    width: 198px;
    height: 39px;
    left: 474px;
    right: 768px;
    top: 15px;
    bottom: 966px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-gl3 {
/* Сертифікати */
    position: absolute;
    width: 168px;
    height: 36px;
    left: 736px;
    right: 536px;
    top: 15px;
    bottom: 966px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-gl4{
/* Акції */
    position: absolute;
    width: 69px;
    height: 39px;
    left: 968px;
    right: 403px;
    top: 15px;
    bottom: 963px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

    .srift{
        font-family: Alexander;
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;
    }

    .footer-text {
        font-family: Alexander;
        position:static;
        text-decoration: none;
        color: rgb(0, 0, 0);  
        font-size: 16px;
        margin: 0px;
        bottom: 0px;
    }
}

@media screen and (max-width:998px ) {

}
@media screen and (max-width:768px ) {

}
@media screen and (max-width:767px ) {

}





