@font-face {
    font-family: "Alexander";
    src: url("C:\Users/entte/Desktop/Imperia_Krasy_Site/fonts/Alexander.eot");
    src: url("C:\Users/entte/Desktop/Imperia_Krasy_Site/fonts/Alexander.eot?#iefix") format("embedded-opentype"),
         url("C:\Users/entte/Desktop/Imperia_Krasy_Site/fonts/Alexander.woff2") format("woff2"),
         url("C:\Users/entte/Desktop/Imperia_Krasy_Site/fonts/Alexander.woff") format("woff"),
         url("C:\Users/entte/Desktop/Imperia_Krasy_Site/fonts/Alexander.ttf") format("truetype"),
         url("C:\Users/entte/Desktop/Imperia_Krasy_Site/fonts/Alexander.svg#Alexander") format("svg");
}


@media screen and (min-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    header {
/* Header 1 */
    position: fixed;
    width: auto;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 954px;
    background-color: rgb(255, 126, 149);
    }
    
    main {
        flex-grow: 1;
        background-color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
    }
    
    footer {
        height: auto;
        background-color: #FF7E95;
        text-align: center;
        position:relative;
        margin: 0px;
        bottom: 0px;


    }

    
    .logo {
/* logo */
    position: absolute;
    width: 64px;
    height: 60px;
    left: 138px;
    right: 1240px;
    top: 5px;
    bottom: 959px;  
        
    }

    .div-logo2{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo2 {
        /* logo */
            position: absolute;
            width: 64px;
            height: 60px;  
            left: 138px;  
            bottom: 5px;
            }

.social-img{
    /* icon-instagram */
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1400px;
    right: 140px;
    top: 19px;
    bottom: 973px;
}

.social-img2{
/* icon-instagram */
position: absolute;
width: 32px;
height: 32px;
left: 1764px;
right: 124px;
top: auto;
bottom: auto;
margin-top: 35px;
    
}

.social-img3{
position: absolute;
left: 1400px;
right: 124px;
top: 20px;
margin: 0px;
bottom: 0px;
}

.instagram{
    position: absolute;
    width: 32px;
    height: 32px;
}

.viber {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 50px;
    top: 1px;
}

.instagram-footer{
    position: absolute;
    width: 32px;
    height: 32px;
}

.viber-footer {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 25px;
    top: 1px;

}

.text-footer{
    position: absolute;
    left: 55px;
    top: 50px;

}
.text-gl1{
/* Головна */
    position: absolute;
    width: 100px;
    height: 32px;
    left: 310px;
    right: 1030px;
    top: 15px;
    bottom: 973px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    }

.text-gl2{
/* Послуги та ціни */
    position: absolute;
    width: 198px;
    height: 39px;
    left: 474px;
    right: 768px;
    top: 15px;
    bottom: 966px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-gl3 {
/* Сертифікати */
    position: absolute;
    width: 168px;
    height: 36px;
    left: 736px;
    right: 536px;
    top: 15px;
    bottom: 966px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-gl4{
/* Акції */
    position: absolute;
    width: 69px;
    height: 39px;
    left: 968px;
    right: 403px;
    top: 15px;
    bottom: 963px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

    .srift{
        font-family: Alexander;
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;
    }

    a {
        color: black;
        text-decoration: none;
        transition: text-shadow 0.3s ease; /* Плавный переход */
    }

    a:hover{
        color: rgb(153, 111, 111);
        text-shadow: 0 0 10px rgb(153, 111, 111);; /* Красное свечение вокруг текста */
    }

    .footer-text {
        font-family: Alexander;
        position:static;
        text-decoration: none;
        color: rgb(0, 0, 0);  
        font-size: 16px;
        margin: 0px;
        bottom: 0px;
    }

    .gl-ph {
padding: 0px;
margin: 0px;
display: block;

    }
    .main2{
        background-color: rgb(255, 255, 255);
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width:998px ) {
    

}
@media screen and (max-width:768px ) {


}
/* Mobile */
@media (min-width: 768px) {
    .mobile-only { /* Скрываем селектор все что выше мобилки */
        display: none;
    }
    
}
/* Mobile */
@media screen and (max-width:767px ) {

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


.mobile-only{
    bottom: 50px;
}    

.mobile-only2 {
    display: none; /* Скрываем главные надписи на мобилке */
}


header {
 /* Header 1 */
    position: fixed;
    width: auto;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 954px;
    background-color: rgb(255, 126, 149);
  }
.logo {
 /* logo */
    position: absolute;
    width: 64px;
    height: 64px;
    top: 4px;
    left: 20px;
 
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 126, 149);
    color: white;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    font-family: Alexander;
}

.menu-button {
    position: absolute;
    display:block;
    top: 7px;
    left: 335px;
    font-size: 40px;
    cursor: pointer;
    color: #333;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.social-icons {
    margin-top: 430px;
    text-align: center;


}

.logo-menu{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 40px;
    left: 20px;

}

.text-menu-logo {
    margin-left: 60px;
    margin-bottom: 30px;
}

.instagram{

    width: 48px;
    height: 48px;
    margin-right: 5px;
}

.viber {
    width: 48px;
    height: 48px;
    
}

footer {
    height: 70px;
    width: 70px;
    width: auto;
    background-color: #FF7E95;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-text {
    font-family: Alexander;
    text-decoration: none;
    color: rgb(0, 0, 0);  
    font-size: 12px;
    margin: 0px;
}


.logo2 {
    position: none;

    }

.div-logo2{
    display: none;
    }

.social-img3{
    display: none;
    }
        
.instagram-footer{
    display: none; 
    }
        
.viber-footer {
    display: none;
    }

}









